@model App_Data.Models.ProductDetails

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ProductDetails</h4>
    <hr />
    <dl class="row">
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongTon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaNhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaNhap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Products)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Products.Ma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color.Ma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size.Ma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeProduct.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material.Ten)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
