@model IEnumerable<App_Data.ViewModel.CartViewModel>

@{
    Layout = "~/Views/Shared/_ProductsShop.cshtml";
}


<div class="container" style="margin-bottom:20px;color:black;">
    <div class="row ">
        <!-- =====  BANNER STRAT  ===== -->
        <!-- =====  BREADCRUMB END===== -->

        <div class="col-sm col-lg mtb_20" >
            <form enctype="multipart/form-data" method="post" action="#">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td class="text-center">#</td>
                                <td class="text-left">Sản phẩm</td>
                                <td class="text-left">Thể loại</td>
                                <td class="text-left">Số lượng</td>
                                <td class="text-right">Giá bán</td>
                                <td class="text-right">Tổng giá</td>
                                <td class="text-right">Xóa</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                var total = item.GiaBan * item.SoLuongCart;
                                <tr data-row-id="{{@item.Id}}">
                                    <td class="text-center" style="margin-top: auto; margin-bottom: auto;">
                                        <img src="~/assets//images/others/@item.LinkImage" class="img-fluid rounded-3"
                                             style="width: 120px;">
                                    </td>

                                    <td class="text-left" style="margin-top: auto; margin-bottom: auto;color:black"><a href="product.html">@Html.ActionLink(item.Name + "-" + item.Color + "-" + item.Size, "ChiTietSP", "Home", new { id = item.IdProduct })</a></td>

                                    <td class="text-left" style="margin-top: auto; margin-bottom: auto;">@item.Material</td>
                                    <td class="text-left" style="margin-top: auto; margin-bottom: auto">
                                         <div style="max-width: 100px;" class="input-group btn-block">
                                            <input type="number" min="0" name="quantity" value="@item.SoLuongCart" data-product-id="@item.IdProduct" data-cart-id="@item.Id" class="form-control soluong" size="1" style="color:black">
                                            <span class="input-group-btn">
                                            </span>
                                        </div>
                                    </td>
                                    <td class="text-right" style="margin-top: auto; margin-bottom: auto;">@string.Format("{0:N0}đ", item.GiaBan)</td>
                                    <td class="text-right" style="margin-top: auto; margin-bottom: auto;" id="tonggia">@string.Format("{0:N0}đ", item.GiaBan * item.SoLuongCart)</td>
                                    <td class="text-center" style="margin-top: auto; margin-bottom: auto;">
                                        @Html.ActionLink("Delete", "DeleteCartDetail", new { id = item.Id }, new { @class = "fa fa-trash color" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </form>

            @* <div class="panel-group mt_20" id="accordion">
                <div class="panel panel-default pull-left">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Sử dụng mã giảm giá <i class="fa fa-caret-down"></i></a></h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="input-group">
                                <input type="text" class="form-control" id="voucherinput" placeholder="Nhập phiếu giảm giá của bạn ở đây" name="voucher" oninput="voucher(this.value)">
                                <label id="textvoucher" style="color:red"></label>
                                <span class="input-group-btn">
                                    <input type="button" class="btn" data-loading-text="Loading..." id="button-coupon" value="Áp dụng" style="height: 38px;
                  border-radius: 5px;">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> *@
            <div class="row">
                <div class="col-sm-4 col-sm-offset-8">
                    <table class="table table-bordered" style="border-block-color:black">
                        <tbody>
                            <tr>
                                <td class="text-right"><strong>Tổng giá:</strong></td>
                                <td class="text-right" id="tamtinh">@string.Format("{0:N0}đ", Model.Sum(x => x.SoLuongCart * x.GiaBan))</td>
                            </tr>
                            <tr>
                                <td class="text-right"><strong>Số tiền giảm:</strong></td>
                                <td class="text-right" id="giamgia">0đ</td>
                            </tr>
                            <tr>
                                <td class="text-right"><strong>Phí ship:</strong></td>
                                <td class="text-right">0đ</td>
                            </tr>
                            <tr>
                                <td class="text-right"><strong>Tổng:</strong></td>
                                <td class="text-right" id="tongtien">@string.Format("{0:N0}đ", Model.Sum(x => x.SoLuongCart * x.GiaBan))</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <form action="">
                <input class="btn pull-left mt_30" type="submit" value="Quay lại Shop" />
            </form>
            <a class ="btn pull-right mt_30" href="/CartDetail/CheckOut" value="Thanh toán">
                
                    thanh toán
            </a>
            
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
@section Scripts{
    <script>
        $(document).on("input", ".soluong", function () {
            updateCart(this);
        });

        $(document).on("click", ".soluong", function () {
            var inputElement = $(this);
            updateCart(inputElement);
        });

        function updateCart(inputElement) {
            var soLuong = parseInt($(inputElement).val());
            var IdProduct = $(inputElement).data('product-id');
            var idCart = $(inputElement).data('cart-id');

            $.ajax({
                url: '/CartDetail/CapNhatSoLuongGioHang',
                method: 'POST',
                data: { IdProduct: IdProduct, SoLuong: soLuong, idCart: idCart },
                success: function (response) {
                    // var inputs = document.getElementsByClassName('soluong');
                    // var sum = 0;
                    // for (var i = 0; i < inputs.length; i++) {
                    //     var inputValue = parseInt(inputs[i].value);
                    //     if (!isNaN(inputValue)) {
                    //         sum += inputValue;
                    //     }
                    // }
                    var TongTien = response.tongTien;
                    var TongGia = response.tongGia;
                    $('#tonggia').text(TongTien.toLocaleString("vi-VN") + "đ");
                    $('#tamtinh').text(TongTien.toLocaleString("vi-VN") + "đ");
                    $('#tongtien').text(TongTien.toLocaleString("vi-VN") + "đ");
                }
            });
        }
    </script>
    @* <script>
        var uudai = "";
        var tamtinh = document.getElementById("tamtinh").innerText.replace("đ", "").replace(/\,/g, "").replace(/\./g, "").trim();
        var tamtinhelement = parseInt(tamtinh);
        var tongtien = document.getElementById("tongtien");
        function voucher(value) {
            if (value != null && value.trim() != "") {
                var formData = new FormData();
                formData.append('Ma', value);
                $.ajax({
                    url: 'https://localhost:7165/api/Voucher/GetVoucherByMa?ma=' + value,
                    type: 'GET',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        console.log(result);
                        if (result) {
                            $('#giamgia').text("-" + result.MucUuDai.toLocaleString("vi-VN") + "đ");
                            $('#textvoucher').text("");
                            uudai = result.MucUuDai;
                            console.log(tamtinhelement);
                            var tong = tamtinhelement - uudai;
                            tongtien.innerText = tong.toLocaleString("vi-VN") + "đ";
                            tongtien.value = tong.toString();
                            // var totalAmountElement1 = document.getElementById("totalAmount1");
                            // totalAmountElement1.innerText = tongtien1.toLocaleString("vi-VN") + "đ";
                            // var paymentAmountElement = document.getElementById("paymentAmount");
                            // paymentAmountElement.innerText = tongtien1.toLocaleString("vi-VN") + "đ";

                            // var voucherValue = document.getElementById("voucherinput").value;
                            // document.getElementById("voucher1").value = voucherValue;
                        }
                        else {
                            $('#textvoucher').text("mã không hợp lệ");
                            $('#giamgia').text("0".toLocaleString("vi-VN") + "đ");
                            tongtien.innerText = tamtinhelement.toLocaleString("vi-VN") + "đ";
                            tongtien.value = tamtinhelement.toString();
                            // var totalAmountElement1 = document.getElementById("totalAmount1");
                            // totalAmountElement1.innerText = tongtien.toLocaleString("vi-VN") + "đ";
                            // var paymentAmountElement = document.getElementById("paymentAmount");
                            // paymentAmountElement.innerText = tongtien.toLocaleString("vi-VN") + "đ";

                            // var voucherValue = document.getElementById("voucherinput").value;
                            // document.getElementById("voucher1").value = "Vouc11";
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                        console.log(status);
                        console.log(error);
                        console.log(xhr);
                    }
                });
            } else {
                tongtien.innerText = tamtinhelement.toLocaleString("vi-VN") + "đ";
                tongtien.value = tamtinhelement.toString();
                $('#giamgia').text("0".toLocaleString("vi-VN") + "đ");
                $('#textvoucher').text("");
            }


        }
    </script> *@
}

