@model IEnumerable<App_Data.ViewModel.CartViewModel>

@{
    Layout = "~/Views/Shared/_ProductsShop.cshtml";
}


<div class="container" style="margin-bottom:20px;color:black;">
    <div class="row ">
        <!-- =====  BANNER STRAT  ===== -->
        <!-- =====  BREADCRUMB END===== -->

        <div class="col-sm col-lg mtb_20" >
            <form enctype="multipart/form-data" method="post" action="#">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td class="text-center">#</td>
                                <td class="text-left">Sản phẩm</td>
                                <td class="text-left">Thể loại</td>
                                <td class="text-left">Giá bán</td>
                                <td class="text-right">Số lượng</td>
                                <td class="text-right">Tổng giá</td>
                                <td class="text-right">Xóa</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                var total = item.GiaBan * item.SoLuongCart;
                                <tr data-row-id="{{@item.Id}}">
                                    <td class="text-center" style="margin-top: auto; margin-bottom: auto;">
                                        <img src="~/assets//images/others/@item.LinkImage" class="img-fluid rounded-3"
                                             style="width: 120px;">
                                    </td>

                                    <td class="text-left" style="margin-top: auto; margin-bottom: auto;color:black"><a href="product.html">@Html.ActionLink(item.Name + "-" + item.Color + "-" + item.Size, "ChiTietSP", "Home", new { id = item.IdProduct })</a></td>

                                    <td class="text-left" style="margin-top: auto; margin-bottom: auto;">@item.Material</td>
                                    <td class="text-left" style="margin-top: auto; margin-bottom: auto">
                                         <div style="max-width: 100px;" class="input-group btn-block">
                                            <input type="number" min="0" name="quantity" value="@item.SoLuongCart" data-product-id="@item.IdProduct" data-cart-id="@item.Id" class="form-control quantity" size="1" style="color:black">
                                            <span class="input-group-btn">
                                            </span>
                                        </div>
                                    </td>
                                    <td class="text-right" style="margin-top: auto; margin-bottom: auto;">@string.Format("{0:N0}đ", item.GiaBan)</td>
                                    <td class="text-right" style="margin-top: auto; margin-bottom: auto;">@string.Format("{0:N0}đ", item.GiaBan * item.SoLuongCart)</td>
                                    <td class="text-center" style="margin-top: auto; margin-bottom: auto;">
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "fa fa-trash color" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </form>

            <div class="panel-group mt_20" id="accordion">
                <div class="panel panel-default pull-left">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Sử dụng mã giảm giá <i class="fa fa-caret-down"></i></a></h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="input-group">
                                <input type="text" class="form-control" id="input-coupon" placeholder="Nhập phiếu giảm giá của bạn ở đây" value="" name="coupon">
                                <span class="input-group-btn">
                                    <input type="button" class="btn" data-loading-text="Loading..." id="button-coupon" value="Áp dụng" style="height: 38px;
                  border-radius: 5px;">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-8">
                    <table class="table table-bordered" style="border-block-color:black">
                        <tbody>
                            <tr>
                                <td class="text-right"><strong>Tổng giá:</strong></td>
                                <td class="text-right">@string.Format("{0:N0}đ", Model.Sum(x => x.SoLuongCart * x.GiaBan))</td>
                            </tr>
                            <tr>
                                <td class="text-right"><strong>Số tiền giảm:</strong></td>
                                <td class="text-right">0đ</td>
                            </tr>
                            <tr>
                                <td class="text-right"><strong>Phí ship:</strong></td>
                                <td class="text-right">0đ</td>
                            </tr>
                            <tr>
                                <td class="text-right"><strong>Tổng:</strong></td>
                                <td class="text-right">@string.Format("{0:N0}đ", Model.Sum(x => x.SoLuongCart * x.GiaBan))</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <form action="">
                <input class="btn pull-left mt_30" type="submit" value="Quay lại Shop" />
            </form>
            
                <a class="btn pull-right mt_30" href="/CartDetail/CheckOut" value="Thanh toán" />
            
        </div>
    </div>
</div>