@model IEnumerable<App_Data.Models.Voucher>

@{
    ViewData["Title"] = "ShowAllVoucher";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Voucher</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="data-table" class="table" style="text-align:center">
    <thead>
        <tr>
            <th>
                Mã Voucher
            </th>
            <th>
                Tên
            </th>
            <th>
                Loại hình
            </th>
            <th>
                Mức ưu đãi
            </th>
            <th>
                Phạm vi
            </th>
            <th>
                Điều kiện
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Số lần đẫ sử dụng
            </th>
            <th>
                Ngày bắt đầu
            </th>
            <th>
                Ngày kết thúc
            </th>
            <th>
              Trạng thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ma)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ten)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiHinhKm)
            </td>
                <td>
                    @if (item.LoaiHinhKm == 1)
                    {
                        int mucUuDai = int.Parse(item.MucUuDai.ToString());
                        string mucUuDaiPhanTram = mucUuDai.ToString() + "%";
                        @mucUuDaiPhanTram
                    }
                    else
                    {
                        int mucUuDai = int.Parse(item.MucUuDai.ToString());
                        string mucUuDaiVND = mucUuDai.ToString("C0"); // Định dạng giá trị thành tiền VND.
                        @mucUuDaiVND
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhamVi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DieuKien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongTon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLanSuDung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayBatDau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayKetThuc)
            </td>
            <td>
                    @if (item.TrangThai == 0)
                    {
                        <span>Hoạt động</span>
                    }
                    else if (item.TrangThai == 1)
                    {
                        <span>Không hoạt động</span>
                    }
                    else if(item.TrangThai==2)
                    {
                        <span>Chưa bắt đầu</span>
                    }
                    else if (item.TrangThai == 3)
                    {
                        <span>Số lượng voucher đã hết</span>
                    }
                    else
                    {
                        item.TrangThai.ToString();
                    }
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="anticon anticon-edit"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="anticon anticon-eye"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="anticon anticon-delete"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>



<script>
    $(document).ready(function () {
        $('#data-table').DataTable()
    }
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/Admin_assets/js/pages/e-commerce-order-list.js"></script>
    <script src="~/Admin_assets/vendors/datatables/jquery.dataTables.min.js" defer></script>
    <script src="~/Admin_assets/vendors/datatables/dataTables.bootstrap.min.js" defer></script>
    <script src="~/Admin_assets/js/pages/datatables.js" defer></script>
}
