@using App_Data.Models;
@using System.Globalization;
@model IEnumerable<App_Data.Models.Voucher>

@{
    ViewData["Title"] = "ShowAllVoucher";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    DbContextModel context = new DbContextModel();
}

<h1>Voucher</h1>

<a asp-action="Create" class="btn btn-primary">
    <i class="anticon anticon-plus-circle m-r-5"></i>
    <span>Create New</span>
</a>


<table id="data-table" class="table" style="text-align:center">
    <thead>
        <div class="d-md-flex">
            <form asp-action="ShowAllVoucher" method="post">
                <div class="form-group">
                    <label for="trangThai">Chọn trạng thái:</label>
                    <select id="trangThai" name="trangThai" class="custom-select">
                        <option value="tatCa">Tất cả</option>
                        <option value="hoatDong">Hoạt động</option>
                        <option value="khongHoatDong">Không hoạt động</option>
                        <option value="chuaBatDau">Chưa bắt đầu</option>
                    </select>
                        <button type="submit" class="btn btn-primary">Lọc</button>
                </div>
             
            </form>
        </div>
        <tr class="clickable-row">
            <th>
                Mã Voucher
            </th>
            <th>
                Tên
            </th>
            <th>
                Loại hình
            </th>
            <th>
                Mức ưu đãi
            </th>
            <th>
                Phạm vi
            </th>
            <th>
                Điều kiện
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Số lần đẫ sử dụng
            </th>
            <th>
                Ngày bắt đầu
            </th>
            <th>
                Ngày kết thúc
            </th>
            <th>
              Trạng thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.TatCa)
        {
        <tr>
            <td>
                    <span> @item.Ma</span>
            </td>
                <td>
                    <span>  @item.Ten</span>
                </td>
            <td>
                   @if(item.LoaiHinhKm == 0)
                    {
                        <span>Giảm giá theo tiền mặt</span>
                    }
                   @if (item.LoaiHinhKm == 1)
                    {
                    <span>Giảm giá %</span>
                    }
                    @if (item.LoaiHinhKm == 2)
                    {
                        <span>Miễn phí vận chuyển</span>
                    }
                </td>
                <td>
                    @if (item.LoaiHinhKm == 1)
                    {
                        int mucUuDai = int.Parse(item.MucUuDai.ToString());
                        string mucUuDaiPhanTram = mucUuDai.ToString() + "%";
                        @mucUuDaiPhanTram
                    }
                    else
                    {
                        @string.Format("{0:N0}đ", item.MucUuDai)
                    }
                </td>
            <td>
                    @if (item.PhamVi == "Áp dụng mọi thể loại")
                    {

                        <span>
                            @item.PhamVi
                         
                        </span>
                    }
                    @if (item.PhamVi != "Áp dụng mọi thể loại")
                    {
                        var idTpProduct = @item.PhamVi.ToString();
                        Guid idTP = Guid.Parse(idTpProduct);

                        var namePhamVi = context.TypeProducts.FirstOrDefault(c => c.Id == idTP).Ten;
                        <span>
                            @namePhamVi
                        </span>
                    }
                   
            </td>
            <td>
                    <span>  @item.DieuKien</span>
            </td>
            <td>
                    <span>    @item.SoLuongTon</span>
            </td>
            <td>
                    <span>  @item.SoLanSuDung</span>
            </td>
            <td>
                    <span>   @item.NgayBatDau</span>
            </td>
            <td>
                    <span>   @item.NgayKetThuc</span>
            </td>
            <td>
                    @if (item.TrangThai == 0)
                    {
                        <span>Hoạt động</span>
                    }
                    else if (item.TrangThai == 1)
                    {
                        <span>Không hoạt động</span>
                    }
                    else if(item.TrangThai==2)
                    {
                        <span>Chưa bắt đầu</span>
                    }
                    else
                    {
                       <span>Trạng thái lỗi</span>
                    }
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="anticon anticon-edit"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="anticon anticon-eye"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="anticon anticon-delete"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>



<script>
    $(document).ready(function () {
        $('#data-table').DataTable()
    }
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/Admin_assets/js/pages/e-commerce-order-list.js"></script>
    <script src="~/Admin_assets/vendors/datatables/jquery.dataTables.min.js" defer></script>
    <script src="~/Admin_assets/vendors/datatables/dataTables.bootstrap.min.js" defer></script>
    <script src="~/Admin_assets/js/pages/datatables.js" defer></script>
}
