@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common;
@using X.PagedList;
@model IEnumerable<App_Data.Models.Voucher>

@{
    ViewData["Title"] = "ShowAllVoucher";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<!-- Hiển thị danh sách voucher -->
<style>
    .table {
        width: auto%;
        border-collapse: collapse;
    }

        .table th,
        .table td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .table th {
            background-color: #f2f2f2;
        }

        .table tr:hover {
            background-color: #f5f5f5;
        }

        h3 {
            text-align: center;
            margin-top: 20px;
        }

        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }

        .pagination .pagination-link {
            display: inline-block;
            padding: 5px 10px;
            margin: 0 2px;
            border-radius: 4px;
            background-color: #f2f2f2;
            color: #333;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }
        .pagination .pagination-link:hover {
                background-color: #ddd;
        }

        .pagination .pagination-link.active {
                background-color: #007bff;
                color: #fff;
        }

        .scrollable-content {
            overflow-y: auto; /* Tạo thanh cuộn dọc khi cần */
            max-height: auto; /* Điều chỉnh chiều cao tối đa của phần tử trước khi thanh cuộn xuất hiện */
        }

</style>
<h1>ShowAllVoucher</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form class="d-flex" action="@Url.Action("ShowAllVoucher", "Vouchers")" method="get">
    <div style="display: flex;">
        <input id="search-input" name="searchString" placeholder="Tìm kiếm..." value="@ViewBag.SearchString" class="form-control me-2" type="search">
        <!-- Thêm trường cho lựa chọn trạng thái -->
        <select id="trangThai" name="trangThai" >
            <option value="-1" >Tất cả</option>
            <option value="0">Hoạt động</option>
            <option value="1">Sắp hoạt động</option>
            <option value="2">Hết hiệu lực</option>
            <!-- Thêm các trạng thái khác nếu cần -->
        </select>
        <button type="submit" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
    </div>
</form>

<div class="scrollable-content">
    <!-- Nội dung dài ở đây -->


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoaiHinhKm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MucUuDai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhamVi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DieuKien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuongTon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLanSuDung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayBatDau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayKetThuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.VoucherList)
        {
            <tr>
                <td>
                    @item.Ma
                </td>
                <td>
                    @item.LoaiHinhKm
                </td>
                <td>
                    @item.MucUuDai
                </td>
                <td>
                    @item.PhamVi
                </td>
                <td>
                    @item.DieuKien
                </td>
                <td>
                    @item.SoLuongTon
                </td>
                <td>
                    @item.SoLanSuDung
                </td>
                <td>
                    @item.NgayBatDau
                </td>
                <td>
                    @item.NgayKetThuc
                </td>
                <td>
                    @item.TrangThai
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit <i class="anticon anticon-edit"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details <i class="anticon anticon-eye"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete <i class="anticon anticon-delete"></i></a>
                </td>
            </tr>
            <!-- Hiển thị các thông tin khác của voucher -->
        }
    </tbody>

    <h4>
        @Html.PagedListPager((IPagedList)ViewBag.VoucherList, page => Url.Action("ShowAllVoucher", new { page, searchString = ViewBag.SearchString }), new PagedListRenderOptions
        {
        Display = PagedListDisplayMode.IfNeeded,
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" },
        UlElementClasses = new string[] { "pagination", "justify-content-center" },
        // Đổi tên nút "Previous" và "Next" tại đây
        LinkToPreviousPageFormat = "Trước",
        LinkToNextPageFormat = "Tiếp theo"
        })
    </h4>


</table>
<!-- Hiển thị phân trang -->
</div>