@model IEnumerable<App_Data.Models.Voucher>

@{
    ViewData["Title"] = "ShowAllVoucher";
}

<h1>ShowAllVoucher</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoaiHinhKm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MucUuDai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DieuKien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuongTon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayBatDau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayKetThuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiHinhKm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MucUuDai)
            </td>
  
            <td>
                @Html.DisplayFor(modelItem => item.DieuKien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongTon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayBatDau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayKetThuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
